* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}

body {
	height:100%;

}

#page_entry{ 
	position:absolute; 
	height:100%; 
	width:100%;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#99CCFF,endColorStr=#CCFFFF); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(top, #99CCFF,  #CCFFFF);        /* IE 10 */
	background:-moz-linear-gradient(top,#99CCFF,#CCFFFF);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#99CCFF), to(#CCFFFF));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CCFF), to(#CCFFFF));      /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, #99CCFF, #CCFFFF);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #99CCFF, #CCFFFF);  /*Opera 11.10+*/
} 

#tittle_entry{
	position:relative;
	top:30%;
	font-size: 8vw;
	color:white;
	text-align:center;
}

#button_entry{
	position:relative;
	margin-left:50%;
	left:-90px;
	top:50%;
	width:180px; 
	height:60px; 
	background-color:#99CCFF;
	border-radius:30px;
	font-size:40px;
	color:white;
	text-align:center;
	line-height:60px;
	cursor:pointer;
}

#button_entry:hover{
	background-color:#33CCFF;
}

#page_1{
	position:absolute; 
	height:100%; 
	width:100%;
	display:none;
}

.container_card{
	width:33%;
	height:33%;
	float:left;
	margin-right:0.5%;
	margin-bottom:0.5%;
}


.container_card_right{
	width:33%;
	height:33%;
	float:left;
}


.card{
	width:100%;
	height:100%;
	background-color:#99CCFF;
	-webkit-transform-style:preserve-3d;
	-webkit-transition:1.5s;
	-moz-transform-style:preserve-3d;
	-moz-transition:1.5s;
}

.front{
	position:absolute;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}

.back{
	position:absolute;
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	width:100%;
	height:100%;	
	
}

#te{
background: url("../images/img1.jpg") no-repeat center center;
	background-size: 100% auto;	
	
}

